<%= form_with(model: site) do |form| %>
  <% if site.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
        <% site.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address_line_1, style: "display: block" %>
    <%= form.text_field :address_line_1 %>
  </div>

  <div>
    <%= form.label :address_line_2, style: "display: block" %>
    <%= form.text_field :address_line_2 %>
  </div>

  <div>
    <%= form.label :address_line_3, style: "display: block" %>
    <%= form.text_field :address_line_3 %>
  </div>

  <div>
    <%= form.label :address_line_4, style: "display: block" %>
    <%= form.text_field :address_line_4 %>
  </div>

  <div>
    <%= form.label :postcode, style: "display: block" %>
    <%= form.text_field :postcode %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
