<div id="<%= dom_id site %>">
  <p>
    <strong>Name:</strong>
    <%= site.name %>
  </p>

  <p>
    <strong>Address line 1:</strong>
    <%= site.address_line_1 %>
  </p>

  <p>
    <strong>Address line 2:</strong>
    <%= site.address_line_2 %>
  </p>

  <p>
    <strong>Address line 3:</strong>
    <%= site.address_line_3 %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= site.postcode %>
  </p>

</div>
