<div id="<%= dom_id studio %>">
  <p>
    <strong>Site:</strong>
    <%= studio.site_id %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= studio.width %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= studio.length %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= studio.height %>
  </p>

  <p>
    <strong>Window:</strong>
    <%= studio.window %>
  </p>

  <p>
    <strong>Sink:</strong>
    <%= studio.sink %>
  </p>

</div>
